body {
  background: url('background.jpg') no-repeat center center fixed;
  background-color: #cccccc;
  background-size: cover;
  color: #333;
}

.section-header {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: white;
}